@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: brown;

  /* ### Primary */
  --green-500: hsl(163, 72%, 41%);
  --red-500: hsl(356, 69%, 56%);
  --blue-600-facebook: hsl(208, 92%, 53%);
  --blue-500-twitter: hsl(203, 89%, 53%);
  --linear-gradient-instagram: hsl(37, 97%, 70%) to hsl(5, 77%, 71%) to
    hsl(329, 70%, 58%);
  --red-700-youyube: hsl(348, 97%, 39%);

  /* #### Light Theme */
  --white-bg: hsl(0, 100%, 100%);
  --blue-50-top-bg-pattern: hsl(225, 100%, 98%);
  --navy-50-card-bg: hsl(227, 47%, 96%);
  --gray-650-text: hsl(228, 12%, 44%);
  --gray-950-text: hsl(230, 17%, 14%);
  --gray-400-toggle: hsl(230, 22%, 74%);

  /* #### Dark Theme */
  --gray-950-bg: hsl(230, 17%, 14%);
  --gray-900-top-bg-pattern: hsl(232, 19%, 15%);
  --navy-950-card-bg: hsl(228, 28%, 20%);
  --gray-400-text: hsl(230, 22%, 74%);
  --white-text: hsl(0, 100%, 100%);
}

body {
  padding: 40px 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  max-width: 1112px;
  margin: auto;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.sections-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading-container {
  border-bottom: 1px solid var(--gray-400-toggle);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.heading-container h1 {
  color: hsl(230, 17%, 14%);
  font-size: 24px;
}

.heading-container p,
.dark-mode-container p,
.overview-container h2,
.overview-widget-left-content-text,
.widget-type,
.followers-text {
  color: var(--gray-650-text);
}

.dark-mode-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.checkbox-container {
  background-color: var(--gray-400-toggle);
  width: 49px;
  height: 24px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox-slider {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox-container.checkbox-active {
  background: linear-gradient(hsl(210, 79%, 56%), hsl(146, 68%, 55%));
}

.checkbox-container.checkbox-active .checkbox-slider {
  transform: translateX(20px);
  background-color: var(--gray-950-bg);
}

.widgets-container,
.overview-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.widget-container {
  background-color: var(--navy-50-card-bg);
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.widget-container:hover,
.overview-widget:hover {
  background-color: #e1e3f0;
  cursor: pointer;
}

.widget-content {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.widget-type {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.widget-followers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers-number {
  color: var(--gray-950-text);
  font-size: 60px;
  font-weight: 600;
}

.followers-text {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.followers-today {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--green-500);
}

.overview-widget {
  padding: 24px;
  background-color: var(--navy-50-card-bg);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.overview-widget-left-content,
.overview-widget-right-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.overview-widget-right-content {
  align-items: end;
}

.overview-widget-right-content-percentage {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--green-500);
}

.icon-image-container {
  width: 20px;
  height: 20px;
}

.icon-image-container img {
  width: 100%;
  height: 100%;
}

.widget-gradient {
  width: 100%;
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Dark Mode */
.dark-mode-active {
  background-color: var(--gray-950-bg);
}

.dark-mode-active .heading-container h1,
.dark-mode-active .followers-number,
.dark-mode-active .overview-widget-left-content-number,
.dark-mode-active .overview-container h2 {
  color: var(--white-bg);
}

.dark-mode-active .widget-container,
.dark-mode-active .overview-widget {
  background-color: var(--navy-950-card-bg);
}

.dark-mode-active .social-handle,
.dark-mode-active .dark-mode-container p,
.dark-mode-active .heading-container p,
.dark-mode-active .followers-text,
.dark-mode-active .overview-widget-left-content-text {
  color: var(--gray-400-text);
}

.dark-mode-active .widget-container:hover,
.dark-mode-active .overview-widget:hover {
  background-color: #333a56;
}

@media (min-width: 567px) {
  .widgets-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .widgets-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .widget-container:last-child {
    grid-column: 1/4;
  }
}

@media (min-width: 992px) {
  .widgets-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .widget-container:last-child {
    grid-column: auto;
  }
}
